body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}
/* ****************** */
/* Theme Override CSS */
/* ****************** */
.bkg-theme {
  background-color: #141543;
  border-color: #141543;
}
.color-theme {
  color: #141543;
}
.bkg-hover-theme:hover {
  border-color: #141543;
  background-color: #141543;
}
/* Header */
.header.header-transparent .v-align-middle > .button:not(.nav-icon),
.header.header-transparent .dropdown > .button:not(.nav-icon) {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.header.header-background .v-align-middle > .button:not(.nav-icon),
.header.header-background .dropdown > .button:not(.nav-icon),
.header .v-align-middle > .button:not(.nav-icon),
.header .dropdown > .button:not(.nav-icon) {
  background: #232323;
  border-color: transparent;
  color: #fff;
}
.header-background .v-align-middle > .button:not(.nav-icon):hover,
.header-background .dropdown > .button:not(.nav-icon):hover {
  background-color: #141543;
  border-color: transparent;
  color: #fff;
}
.header .v-align-middle > .button:not(.nav-icon):hover,
.header .dropdown > .button:not(.nav-icon):hover,
.header .dropdown > .button.active:not(.nav-icon) {
  background-color: #141543;
  border-color: transparent;
  color: #fff;
}

/* Testimonial */
blockquote.large,
blockquote.large p {
  font-size: 1.6rem;
}
